
external/stdlib/*

# ocaml object files

*.o
*.cm*
*.annot
*.opt
*.byte

# c object files
*.so
*.a

# make object files
.depend

# syncweb object files
.md5sum_*

# latex object files
*.aux
*.brf
*.log
*.out
*.toc

# pfff and tools
/TAGS
/.pfff/*
#/PFFF_DB.json
#/PFFF_DB.marshall
#/graph_code.marshall
#/graph_code.marshall.opti
#/layer_bottomup.json
#/layer_graphcode_stats.json
#/layer_topdown.json


# lex and yacc
ocaml_mode.ml
tex_mode.ml
c_mode.ml
lisp_mode.ml
html_mode.ml


# doc
/Efuns.pdf
/Efuns.tex

# binaries
/efuns
/efuns_server
/efuns_filebrowser
/efuns_texbrowser
/efuns_client

#MISC
#efuns.opt.gz
#*.cfg
#*.ps
#*.idx
#/gitlog
#/.depend2

# ?????
/ppx/ppx_interactive
