# ocaml object files

*.o
*.cm*
*.annot
*.opt
*.byte

# c object files
*.so
*.a

# make object files
.depend

# syncweb object files
.md5sum_*

# latex object files
*.aux
*.brf
*.log
*.out
*.toc

# pfff and tools
/TAGS
/.pfff/*
/graph_code.marshall
/graph_code.marshall.opti
#/PFFF_DB.json
#/PFFF_DB.marshall
#/layer_bottomup.json
#/layer_graphcode_stats.json
#/layer_topdown.json


# lex and yacc
prog_modes/c_lexer.ml
prog_modes/lisp_lexer.ml
prog_modes/ocaml_lexer.ml

tex_mode.ml
html_mode.ml


# binaries
/efuns
/efuns_client
/ppx/ppx_interactive

#MISC
#*.cfg
#*.ps
#*.idx
/.depend2
/gitlog
/PFFF_DB.json
/PFFF_DB.marshall
/layer_bottomup.json
/layer_graphcode_stats.json
/layer_topdown.json
