# ocaml object files

*.o
*.cm*
*.annot
.depend
*.so
*.a

*.opt
*.byte

external/stdlib/*

# pfff and tools
/TAGS

# lex and yacc
ocaml_mode.ml
tex_mode.ml
c_mode.ml
lisp_mode.ml
html_mode.ml

# syncweb
.md5sum_*

# binaries
efuns.byte
efuns
efuns.opt
efuns_server
efuns_filebrowser
efuns_texbrowser

#MISC
efuns.opt.gz

*.cfg
*.ps
*.idx
/.DS_Store
/Efuns.aux
/Efuns.brf
/Efuns.log
/Efuns.out
/Efuns.pdf
/Efuns.tex
/Efuns.toc
/PFFF_DB.json
/PFFF_DB.marshall
/graph_code.marshall
/graph_code.marshall.opti
/layer_bottomup.json
/layer_graphcode_stats.json
/layer_topdown.json
/gitlog
/efuns_client
